@import url("https://fonts.googleapis.com/css2?family=Fira Sans:wght@400;500;600&family=Fira Sans:wght@400;500&display=swap");

:root {
    --header-height: 3.5rem;

    --first-color: hsl(207, 65%, 65%);
    --title-color: hsl(207, 4%, 16%);
    --text-color: hsl(207, 4%, 28%);
    --text-color-light: hsl(207, 4%, 56%);
    --body-color: hsl(207, 4%, 99%);
    --container-color: hsl(207, 4%, 95%);

    --gradient-color: linear-gradient(180deg,
            hsla(250, 48%, 72%, 0),
            hsla(250, 65%, 65%, 1));

    --body-font: "Fira Sans", sans-serif;
    --title-font: small-caps bold 24px/1 sans-serif;
    --biggest-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;

    --font-medium: 500;
    --font-semi-bold: 600;

    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
    :root {
        --biggest-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
        --tiny-font-size: .688rem;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
    /* background-color: #FFF0F5; */
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background .4s;
    background-color: #FFF0F5;

}

h1,
h2,
h3 {
    color: var(--title-color);
    font-family: var(--title-font);
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

#nav-menu {
    width: 100%;
    margin: auto;
    height: calc(var(--header-height) + .5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--body-color);
    padding-inline: 1.5rem;
    /* transition: background .4s; */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.nav-link home,
nav-link about,
nav-link skills,
nav-link projects,
nav-link contact,
nav-link resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .25rem;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    transition: color .3s;
    background-color: #FFF0F5;
}

.nav-link home,
nav-link about,
nav-link skills,
nav-link projects,
nav-link contact,
nav-link resume:hover {
    color: var(--title-color);
    background-color: #FFF0F5;
}

.nav-link home,
nav-link about,
nav-link skills,
nav-link projects,
nav-link contact,
nav-link resume i {
    font-size: 1.25rem;
    background-color: #FFF0F5;
}

.nav-link:hover {
    text-decoration: underline;
}

.logo {
    font-size: 25px;
}

.logo:hover {
    text-decoration: underline;
}

/* Nav---------------------- */
@media screen and (min-width: 816px) {
    .nav__link {
        display: block;
        position: static;
        width: auto;
        margin-right: 20px;
        background: none;
    }

    .nav__link a {
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger {
        display: none;
    }
}


/* Home */
#home {
    width: 70%;
    margin: auto;
    height: 500px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    /* border: 1px solid red; */
}

.user-info-about {
    text-align: center;
    font-size: var(--h1-font-size);
    letter-spacing: .3px;
    margin-bottom: .5rem;
    /* border:1px solid red; */
}

.home-img {
    margin: auto;
    height: 80%;
    /* border:1px solid red; */
}

#home>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border:1px solid red; */
}

.home__info {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    padding: 15px;
    /* border:1px solid red; */
    /* display: grid; */
    /* row-gap: 2rem; */
}

#user-detail-name {
    text-align: center;
    font-size: var(--biggest-font-size);
    letter-spacing: .3px;
    margin-bottom: .5rem;
}

/* #user-detail-intro {
    text-align: center;
    font-size: var(--h1-font-size);
    letter-spacing: .3px;
    margin-bottom: .5rem;
    /* border:1px solid red; */
}

*/ .home__social {
    margin-top: 10px;
}



/* About */
#about {
    text-align: center;
    margin: 50px auto;
    width: 50%;
    padding: 50px;
    /* border: 1px solid red; */
    /* margin: 100px auto; */
}

#about>div:first-child {
    font-size: 10px;
}

.about-title {
    padding: 15px;
    text-decoration: underline;
}

#profile-info {
    margin: 20px auto;
}

#resume-button-2 {
    margin: 50px;
    padding: 5px 20px;
    font-size: medium;
    /* border:1px solid red; */
}

.hover-item {
    transition: 0.3s;
}

.hover-item:hover {
    transform: translate(0, -10px);
}

/* Skils */
#skills {
    flex-wrap: wrap;
    text-align: center;
    margin: 100px auto;
    width: 50%;
    /* border:1px solid red; */
}

.skills-title {
    /* border:1px solid red; */
    padding: 15px;
    text-decoration: underline;
}

#skills>div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    /* border:1px solid red; */
}

.skills-card {
    /* border: 1px solid red; */
    margin: 10px auto;
    width: 80px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: 0.3s;
}

.skills-card:hover {
    transform: translate(0, -10px);
}

.skills-card-img {
    height: 80px;
    width: 500px;
}

/* Projects */

.project-hero-img{
    height: 60%;
    width: 50%;
}
.projects-title {
    padding: 15px;
    text-decoration: underline;
}

#projects>div {
    padding: 10px;
    /* border:1px solid red; */
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.project-card {
    padding: 10px;
    margin-top: 15px;
    /* border:1px solid red; */
}

.project-card>img {
    width: 500px;
    border-radius: .75rem;
    margin-bottom: 1.25rem;
    border: 1px solid rgb(247, 202, 119);
}

.project-title {
    font-size: 25px;
    text-decoration: underline;
    color: black;
}

.project-description {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 15px;
    /* border: 1px solid red; */
}

.project-tech-stack {
    margin-top: 15px;
}


/* Resume */
#resume {
    margin: 20px auto;
    padding: 10px 0px 10px 0px;
    /* border:1px solid blue; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#resume-title {
    font-size: 50px;
    text-align: center;
    /* border:1px solid red; */
}

#resume-button-1 {
    padding: 10px;
    /* border:1px solid green; */
}

/* Contact */
#contact-title {
    padding: 15px;
    text-decoration: underline;
}

#contact>div {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

/* Github */
.github-stats {
    margin-top: 50px;
    padding: 10px;
    /* border: 1px solid red */
}

#github-stats-calender {
    width: 80%;
    margin-top: 3vh;
    /* border: 1px solid red; */
}

.calendar.react-activity-calendar .contrib-column.table-column span {
    /* border: 1px solid red; */
    color: black;
}

.calendar {
    width: 90%;
    margin: auto;
}

/* FOOTER */

.footer__container {
    padding: 25px;
    text-align: center;
}

.footer__title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 1rem;
}

.footer__list,
.footer__social {
    display: flex;
    justify-content: center;
}

.footer__list {
    margin: 2.5rem 0;
    column-gap: 2.5rem;
}

.footer__link {
    color: var(--title-color);
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__social {
    column-gap: 1.25rem;
}

.footer__social-link {
    font-size: 1.25rem;
    color: var(--title-color);
    transition: transform .3s;
}

.footer__social-link:hover {
    transform: translateY(-.15rem);
}

.footer__copy {
    display: block;
    margin-top: 4.5rem;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(207, 4%, 75%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(207, 4%, 65%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(207, 4%, 55%);
}

.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -30%;
    background-color: var(--body-color);
    box-shadow: 0 4px 12px hsl(201, 24%, 35%, .15);
    display: inline-flex;
    padding: .35rem;
    border-radius: .25rem;
    font-size: 1.1rem;
    color: var(--title-color);
    z-index: var(--z-tooltip);
    transition: bottom .3s, transform .3s;
    /* border: 1px solid red; */
}

.scrollup:hover {
    transform: translateY(-.25rem);
}

.show-scroll {
    bottom: 7.5rem;
}

@media only screen and (min-width:321px) and (max-width:850px) {
    #home {
        width: 70%;
        margin: auto;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 50px;
        /* border: 1px solid red; */
    }

    .home-img {
        margin: 20px auto;
        height: 80%;
        /* border:1px solid red; */
    }

    .home__info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 20px;
        padding: 15px;
        /* border:1px solid red; */
        /* display: grid; */
        /* row-gap: 2rem; */

    }

    #about {
        width: 90%;
        text-align: center;
        margin: 50px auto;
        padding: 50px;
        /* border: 1px solid red; */
        /* margin: 100px auto; */
    }

    #projects>div {
        padding: 10px;
        /* border:1px solid red; */
        display: grid;
        grid-template-columns: repeat(1, auto);
        gap: 30px;
    }

    #contact>div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 10px;
    }
}

/* Tablets */
/* @media (min-width:769px) {
    
} */

/* Hide the hamburger menu on desktop */
.hamburger-menu {
    display: none;
}

/* Style the hamburger lines */
.hamburger-line {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
}

/* Show the hamburger menu on mobile */
@media only screen and (max-width: 812px) {

    /* Navvvvvvvvvvvvvvvvvvvvvvvvvvv */
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
    }

    .logo {
        font-size: 1.8rem;
        color: rgb(5, 5, 116);
        padding-left: 20px;
    }

    .hamburger {
        padding-right: 20px;
        cursor: pointer;
    }

    .hamburger .line {
        display: block;
        width: 40px;
        height: 5px;
        margin-bottom: 10px;
        background-color: black;
    }

    .nav__link {
        position: fixed;
        width: 94%;
        top: 5rem;
        left: 18px;
        background-color: lightblue;
    }

    .nav__link a {
        display: block;
        text-align: center;
        padding: 10px 0;
    }

    .nav__link a:hover {
        background-color: lightcoral;
    }

    .hide {
        display: none;
    }
}